@keyframes segpa-animation {
	0% {
		background-color: #c0392b;
	}
	20% {
		background-color: #f1c40f;
	}
	40% {
		background-color: #27ae60;
	}
	60% {
		background-color: #2980b9;
	}
	80% {
		background-color: #8e44ad;
	}
	100% {
		background-color: #c0392b;
	}
}

body {
	background-image: url('../img/background.jpg');
	padding: 0em 2em 0em 2em;
}

#vcard {
	border-radius: 10px;
	box-shadow: 10px 10px 5px #999999;
	background-color: white;
	padding: 1em 1em 1em 1em;
	max-width: 50em;
	margin-top: 2em;
	margin-bottom: 2em;
}

.thumbnail {
	max-height: 25%;
	max-width: 25%;
	margin-bottom: 0;
	cursor: pointer;
}

#title {
	text-align: center;
}

#title h1 {
	text-shadow: 0 0 10px #999999;
}

#title ::selection {
	background: #FFB7B7;
}

#title ::-moz-selection {
	background: #FFB7B7;
}

#catchphrase {
	font-style: italic;
}

#social-networks ::selection {
	background: #A8D1FF;
}

#social-networks ::-moz-selection {
	background: #A8D1FF;
}

#social-networks ul {
	list-style-type: none;
	padding: 0;
}

#memes ::selection {
	background: #2ECC71;
}

#memes ::-moz-selection {
	background: #2ECC71;
}

#twitter ::selection {
	background: #FFF2A8;
}

#twitter ::-moz-selection {
	background: #FFF2A8;
}

#last-tweet {
	padding-bottom: 2.5em;
}

#segpa-song {
	position: absolute;
	height: 100%;
	width: 100%;
	animation-name: segpa-animation;
	-webkit-animation-name: segpa-animation;
	animation-duration: 5s;
	-webkit-animation-duration: 5s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

#segpa-song img {
	/*opacity: 0.7;*/
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#about {
	position: absolute;
	bottom: 0;
	left: 0.25em;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 10.5px;
}

#about:link {
	color: #333333;
}

#about:hover {
	color: #333333;
	text-decoration: none;
}

#about:visited {
	color: #333333;
	text-decoration: none;
}

#player {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

a:link {
	color: #4A913C;
	text-decoration: none;
}

a:hover {
	color: #438236;
	font-weight: bold;
	text-decoration: none;
}

a:visited {
	color: #4A913C;
	text-decoration: none;
}