body {
	background-image: url('../img/background.jpg');
}

#vcard {
	border-radius: 10px;
	background-color: white;
	padding: 1em 1em 1em 1em;
	max-width: 50em;
	margin-bottom: 4em;
}

.thumbnail {
	display: inline;
	max-height: 20%;
	max-width: 20%;
	margin-bottom: 0;
}

#title {
	text-align: center;
}

#title ::selection {
	background: #FFB7B7;
}

#title ::-moz-selection {
	background: #FFB7B7;
}

#catchphrase {
	font-style: italic;
}

#social-networks ::selection {
	background: #A8D1FF;
}

#social-networks ::-moz-selection {
	background: #A8D1FF;
}

#social-networks ul {
	list-style-type: none;
	padding: 0;
}

#memes ::selection {
	background: #2ECC71;
}

#memes ::-moz-selection {
	background: #2ECC71;
}

#twitter ::selection {
	background: #FFF2A8;
}

#twitter ::-moz-selection {
	background: #FFF2A8;
}

#last-tweet {
	padding-bottom: 2.5em;
}

a:link {
	color: #4A913C;
}

a:hover {
	color: #438236;
	font-weight: bold;
	text-decoration: none;
}

a:visited {
	color: #4A913C;
}